/* _content/MyProject/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.link[b-57hyyzs055] {
    text-align: center;
    display: block;
    position: sticky;
    padding: 0px;
    bottom: 0px;
    color: white;
}

a[b-57hyyzs055] {
    color: white;
}
