<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vival Games</title>

    <link rel="stylesheet" href="https://www.blobfish.dev/assets/built/screen.css?v=03a30f0633">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap">
    <link rel="stylesheet" href="~/css/Koretme.css">
    <link rel="shortcut icon" href="~/Images/png-transparent-social-media-computer-icons-social-network-digital-marketing-bird-logo-samples-love-heart-social-media.png" />

</head>
<body>
    <!--logo-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/Index.js"></script>
    <header>
        <div class="">
            <a href="/home/index" class="logo"><img src="~/Images/png-transparent-social-media-computer-icons-social-network-digital-marketing-bird-logo-samples-love-heart-social-media.png" /></a>
      </div>
    </header>
    <div class="box-height"></div>
    <!--logo-->
<hr>
<br>
<br>
<br>
<br>
<div class="blogcenter">
<!--Post start-->
    <div style="background-color: #282C35; z-index: 2000;" class="content-area">
        <main class="site-main">
                <a href="/home/blog">
                    <div class="post-feed container medium">
                        <article class="feed post no-image">
                            <div class="feed-calendar">
                                <div class="feed-calendar-month">
                                    Oct
                                </div>
                                <div class="feed-calendar-day">
                                    12
                                </div>
                            </div>
                            <h2 class="feed-title" style="color: white;">blog1</h2>
                            <div class="feed-right">
                                <svg class="icon feed-visibility feed-visibility-public">
                                    <use xlink:href="blog1.html"></use>
                                </svg>
                                <div class="feed-length">
                                </div>
                            </div>
                    </div>
                </a>
                <a href="/home/blog2">
                    <div class="post-feed container medium">
                        <article class="feed post no-image">
                            <div class="feed-calendar">
                                <div class="feed-calendar-month">
                                    Oct
                                </div>
                                <div class="feed-calendar-day">
                                    25
                                </div>
                            </div>
                            <h2 class="feed-title" style="color: white;">blog2</h2>
                            <div class="feed-right">
                                <svg class="icon feed-visibility feed-visibility-public">
                                    <use xlink:href="blog1.html"></use>
                                </svg>
                                <div class="feed-length">
                                </div>
                            </div>
                    </div>
                </a>
    </main>
</div>
</div>
<!--Post end-->
    <br>
    <br>
</body>
</html>