
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vival Games</title>

    <link rel="stylesheet" href="https://www.blobfish.dev/assets/built/screen.css?v=03a30f0633">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap">
    <link rel="stylesheet" href="~/css/Koretme.css">
    <link rel="shortcut icon" href="VL_Logo_Transparent.png">

</head>
<body>
    <div class="header">
        <a href="/home/Index" class="logo"><img src="~/Images/png-transparent-social-media-computer-icons-social-network-digital-marketing-bird-logo-samples-love-heart-social-media.png"></a>
    </div>
    <br>
    <hr>
    <br>
    <br />
    <form asp-action="account" asp-controller="home" method="post">
        <input asp.for="NickName" type="text" name="NickName" />  <br />
        <input asp.asp-for="Password" type="password" name="Password" />   <br />
        <br />
        <center> <button>Connect</button> </center>
    </form>
    <br />
    <br />
    <br />
    <br />
    <hr />
    <br />

</body>
</html>